In [1]:
from sklearn import svm, metrics
from sklearn.model_selection import train_test_split 
import pandas as pd

In [2]:
tbl = pd.read_csv('bmi.csv')
tbl

       height  weight   label
0         142      62     fat
1         142      73     fat
2         177      61  normal
3         187      48    thin
4         153      60     fat
...       ...     ...     ...
19995     122      58     fat
19996     193      69  normal
19997     193      37    thin
19998     195      51    thin
19999     163      67  normal

[20000 rows x 3 columns]

In [3]:
label = tbl["label"]

In [4]:
w=tbl['weight']/100
h=tbl['height']/200

In [5]:
wh=pd.concat([w,h], axis=1)
wh

       weight  height
0        0.62   0.710
1        0.73   0.710
2        0.61   0.885
3        0.48   0.935
4        0.60   0.765
...       ...     ...
19995    0.58   0.610
19996    0.69   0.965
19997    0.37   0.965
19998    0.51   0.975
19999    0.67   0.815

[20000 rows x 2 columns]

In [6]:
#from sklearn.preprocessing import MinMaxScaler
#sc=MinMacScaler()
#wh=sc.fit_transfrom(tbl.iloc[:,:-1])
# 이런식으로 데이터를 전처리 해줘도 좋다

In [7]:
data_train, data_test, label_train, label_test = train_test_split(wh, label, random_state=1)

In [8]:
model = svm.SVC()
model.fit(data_train, label_train)

SVC()

In [9]:
predict= model.predict(data_test)
predict

array(['thin', 'thin', 'fat', ..., 'fat', 'fat', 'fat'], dtype=object)

In [11]:
metrics.accuracy_score(label_test, predict)

0.9968

In [13]:
print(metrics.classification_report(label_test, predict))

              precision    recall  f1-score   support

         fat       1.00      1.00      1.00      1870
      normal       0.99      1.00      0.99      1560
        thin       1.00      1.00      1.00      1570

    accuracy                           1.00      5000
   macro avg       1.00      1.00      1.00      5000
weighted avg       1.00      1.00      1.00      5000